@import url(https://fonts.googleapis.com/css?family=Nunito);
.menu {
  top: -100%;
  transition: all 0.3s 0s ease;
}

.menu.active {
  top: 0;
  transition: all 0.3s 0s ease;
}

.toggle {
  display: block;
  position: fixed;
  width: 28px;
  height: 28px;
  top: 16px;
  right: 16px;
}

.toggle span {
  display: block;
  position: absolute;
  width: 28px;
  border-bottom: solid 3px #fff;
  transition: 0.3s ease-in-out;
}

.toggle span:nth-child(1) {
  top: 8px;
}

.toggle span:nth-child(2) {
  top: 16px;
}

.toggle span:nth-child(3) {
  top: 24px;
}

.toggle.active span:nth-child(1) {
  top: 16px;
  transform: rotate(-45deg);
}

.toggle.active span:nth-child(2),
.toggle.active span:nth-child(3) {
  top: 16px;
  transform: rotate(45deg);
}

.swiper article div {
  border-radius: 25%;
  overflow: hidden;
}
.swiper article div:hover img {
  transform: scale(1.25);
}
.swiper article div img {
  transition: 0.25s;
}

.main-visual .swiper-pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem 0.8rem;
  justify-content: center;
  margin-top: 3.2rem;
  text-align: center;
}

.main-visual .swiper-pagination-bullet {
  width: 2rem;
  height: 3px;
  border-radius: 0;
  cursor: pointer;
  vertical-align: top;
  background-color: #888888;
}

.main-visual .swiper-pagination-bullet-active {
  background-color: #FFFFFF;
}

.swiper-button-next, .swiper-button-prev {
  color: #FFFFFF;
}

.icon-list .swiper-area {
  margin: 0 1rem;
}

figure {
  position: relative;
  display: inline-block;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}
figure img {
  transition: 0.25s;
}
figure figcaption {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 15px 25px;
  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  color: white;
  line-height: 1;
  transition: 0.25s;
}
figure figcaption h3 {
  margin: 0 0 10px;
  padding: 0;
}
figure figcaption p {
  font-size: 14px;
  line-height: 1.75;
}
figure figcaption button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 0;
  padding: 10px 30px;
  background-color: #1abc9c;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
}
figure:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
figure:hover img {
  transform: scale(1.25);
}
figure:hover figcaption {
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

.error-message {
  color: #FF0000;
}

@media screen and (min-width: 768px) {
  .figure-pointer-none {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
}
@media screen and (max-width: 768px) {
  h1 a img {
    width: 200px;
  }
  .swiper article div:hover img {
    transform: none;
  }
  figure:hover img {
    transform: none;
  }
}
div h2:after {
  position: absolute;
  content: "";
  display: block;
  border-bottom: solid 3px #D95D59;
  bottom: -3px;
  width: 33%;
}

.sng-box-msg__contents p {
  font-weight: normal;
  font-size: 1rem;
  margin: 0;
}

.sng-box-msg__title {
  display: inline-block;
  vertical-align: middle;
  color: rgb(248, 128, 128);
}

.keiko_yellow {
  background: linear-gradient(transparent 50%, rgba(255, 179, 107, 0.4666666667) 50%);
}

.keiko_red {
  background: linear-gradient(transparent 50%, rgba(255, 88, 88, 0.4) 50%);
}

.youtube {
  width: 100%;
  aspect-ratio: 16/9;
}
.youtube iframe {
  width: 100%;
  height: 100%;
}

.memo {
  margin-bottom: 1.5em;
  padding: 1em;
  background: #fff9e5;
}

.memo_ttl {
  margin-bottom: 5px;
  color: #ffb36b;
  font-size: 1.2em;
  font-weight: bold;
}

.sgb-box-simple__title {
  padding: 0.6em 1em;
  background: #333;
  color: #fff;
  border-radius: 6px 6px 0 0;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.5;
  word-break: break-all;
}

.sgb-box-simple__body {
  margin-top: -2px !important;
  padding: 0.7em 1.5em;
  border: solid 2px #333;
  border-radius: 0 0 6px 6px;
  font-size: 1em;
}

.sgb-box-simple .sgb-box-simple__body > * {
  margin: 0.5em 0;
}

.point-list {
  counter-reset: pointNum;
  padding: 0;
}
.point-list li {
  padding-left: 30px;
  position: relative;
  text-indent: 0;
}
.point-list li::before {
  background: #c9a05c;
  border-radius: 50%;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  margin-right: 0.8rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  line-height: 23px;
  counter-increment: pointNum 1;
  content: counter(pointNum);
  text-align: center;
  vertical-align: middle;
}
.point-list li + li {
  margin-top: 0.5em;
}
