// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

.swiper {
    article {
        div {
            border-radius: 25%;
            overflow: hidden;
            &:hover {
                img {
                    transform: scale(1.25);
                }
            }
            img {
                transition: 0.25s;
            }
        }
    }
}
.main-visual .swiper-pagination {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.2rem 0.8rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 3.2rem;
    text-align: center;
}
.main-visual .swiper-pagination-bullet {
    width: 2rem;
    height: 3px;
    border-radius: 0;
    cursor: pointer;
    vertical-align: top;
    background-color: #888888;
}
.main-visual .swiper-pagination-bullet-active {
    background-color: #FFFFFF;
}
.swiper-button-next, .swiper-button-prev {
    color: #FFFFFF;
}
.icon-list .swiper-area {
    margin: 0 1rem;
}

figure {
    position: relative;
    display: inline-block;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    overflow: hidden;
    img {
        height: 100%;
        transition: 0.25s;
    }
    figcaption {
        position: absolute;
        bottom: -100%;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 15px 25px;
        background-color: rgba(black,0.65);
        box-shadow: 0 0 20px rgba(black,0.4);
        color: white;
        line-height: 1;
        transition: 0.25s;
        h3 {
            margin: 0 0 10px;
            padding: 0;
        }
        p {
            font-size: 14px;
            line-height: 1.75;
        }
        button {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px 0 0;
            padding: 10px 30px;
            background-color: #1abc9c;
            border: none;
            border-radius: 5px;
            color: white;
            font-size: 14px;
        }
    }
    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        img {
            transform: scale(1.25);
        }
        figcaption {
            bottom: 0;
            background-color: rgba(black,0.85);
        }
    }
}

.error-message {
    color: #FF0000;
}

@media screen and (min-width:768px) {
    .figure-pointer-none {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
    }
}
@media screen and (max-width:768px) {
    h1 a img {
        width: 200px;
    }
    .swiper article div {
        &:hover img {
            transform: none;
        }
    }
    figure {
        &:hover img {
            transform: none;
        }
    }
}
