// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

.swiper {
    article {
        div {
            border-radius: 25%;
            overflow: hidden;
            &:hover {
                img {
                    transform: scale(1.25);
                }
            }
            img {
                transition: 0.25s;
            }
        }
    }
}
.main-visual .swiper-pagination {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.2rem 0.8rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 3.2rem;
    text-align: center;
}
.main-visual .swiper-pagination-bullet {
    width: 2rem;
    height: 3px;
    border-radius: 0;
    cursor: pointer;
    vertical-align: top;
    background-color: #888888;
}
.main-visual .swiper-pagination-bullet-active {
    background-color: #FFFFFF;
}
.swiper-button-next, .swiper-button-prev {
    color: #FFFFFF;
}
.icon-list .swiper-area {
    margin: 0 1rem;
}

figure {
    position: relative;
    display: inline-block;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    overflow: hidden;
    img {
        transition: 0.25s;
    }
    figcaption {
        position: absolute;
        bottom: -100%;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 15px 25px;
        background-color: rgba(black,0.65);
        box-shadow: 0 0 20px rgba(black,0.4);
        color: white;
        line-height: 1;
        transition: 0.25s;
        h3 {
            margin: 0 0 10px;
            padding: 0;
        }
        p {
            font-size: 14px;
            line-height: 1.75;
        }
        button {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px 0 0;
            padding: 10px 30px;
            background-color: #1abc9c;
            border: none;
            border-radius: 5px;
            color: white;
            font-size: 14px;
        }
    }
    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        img {
            transform: scale(1.25);
        }
        figcaption {
            bottom: 0;
            background-color: rgba(black,0.85);
        }
    }
}

.error-message {
    color: #FF0000;
}

@media screen and (min-width:768px) {
    .figure-pointer-none {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
    }
}
@media screen and (max-width:768px) {
    h1 a img {
        width: 200px;
    }
    .swiper article div {
        &:hover img {
            transform: none;
        }
    }
    figure {
        &:hover img {
            transform: none;
        }
    }
}

div h2:after {
    position: absolute;
    content: "";
    display: block;
    border-bottom: solid 3px #D95D59;
    bottom: -3px;
    width: 33%;
}
.sng-box-msg__contents p {
    font-weight: normal;
    font-size: 1rem;
    margin: 0;
}
.sng-box-msg__title {
    display: inline-block;
    vertical-align: middle;
    color: rgb(248, 128, 128);
}
.keiko_yellow {
    background: linear-gradient(transparent 50%, #ffb36b77 50%);
}
.keiko_red {
    background: linear-gradient(transparent 50%, #ff585866 50%);
}
.youtube {
    width: 100%;
    aspect-ratio: 16 / 9;
    iframe {
        width: 100%;
        height: 100%;
    }
}
.memo {
    margin-bottom: 1.5em;
    padding: 1em;
    background: #fff9e5;
}
.memo_ttl {
    margin-bottom: 5px;
    color: #ffb36b;
    font-size: 1.2em;
    font-weight: bold;
}
.sgb-box-simple__title {
    padding: 0.6em 1em;
    background: #333;
    color: #fff;
    border-radius: 6px 6px 0 0;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.5;
    word-break: break-all;
}
.sgb-box-simple__body {
    margin-top: -2px !important;
    padding: 0.7em 1.5em;
    border: solid 2px #333;
    border-radius: 0 0 6px 6px;
    font-size: 1em;
}
.sgb-box-simple .sgb-box-simple__body>* {
    margin: 0.5em 0;
}
.point-list {
    counter-reset: pointNum;
    padding: 0;
    li {
        padding-left: 30px;
        position: relative;
        text-indent: 0;
    }
    li::before {
        background: #c9a05c;
        border-radius: 50%;
        color: #fff;
        font-size: 13px;
        font-weight: 700;
        margin-right: 0.8rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 23px;
        line-height: 23px;
        counter-increment: pointNum 1;
        content: counter(pointNum);
        text-align: center;
        vertical-align: middle;
    }
    li+li {
        margin-top: 0.5em;
    }
}
